*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:cursive;
}

.container{
  background-image: linear-gradient(to top left,rgb(50, 195, 205), rgb(253, 252, 152),yellowgreen);
  padding: 20px;
}
h1{
  color: rgb(59, 8, 8);

  font-weight: bolder;
  text-align: center;
  margin-bottom: 30px;
}
h2{
  color: brown;

  font-weight: bolder;
  margin: 10px 20px;
}
h3{
  color: rgb(31, 1, 1);
  text-align: center;
  font-weight: bolder;
  margin: 10px 20px;
}
span{
  color: brown;

  font-weight: bolder;
}
pre{
  font-size: large;
}
.pre{
  color: rgb(49, 1, 1);
  
  font-weight: bolder;
  font-size: 20px;
  width: 500px;

  margin: 40px;
  border: 5px solid brown;
  border-radius: 20px;
}
p{
  color: rgb(58, 7, 7);

  margin: 20px;
  text-align: justify;
  font-weight: bold;
  font-size: 17px;
}
.output{
  margin: 10px;
  color: rgb(0, 1, 63);
  font-size: 20px;
  text-decoration:underline;
  font-weight: bolder;
}
.box{
  color: rgb(49, 1, 1);
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  width: 500px;
  /* height: 220px; */
  margin: 30px;
  padding-top: 30px;
  border: 5px solid brown;
  border-radius: 20px;
  background-color: white;
}
button{

  margin: 30px;
  color: rgb(0, 1, 63);
  font-size: 20px;
  font-weight: bolder;
  display: inline-block;
  background-color: greenyellow; 
  padding: 10px;
  border-radius: 10px;
  color: maroon;
}
#text,.timer,#content,#newContent{
  margin-bottom: 30px;
}
#HH,#MM,#SS{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}